table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
  padding-left: 40px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
  top: unset;
  margin: unset;
}

table.dataTable>tbody>tr.child ul.dtr-details>li:first-child {
  padding: 10px;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
  padding: 10px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  display: grid;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
}

.dataTables_wrapper .dataTables_info {
  clear: none;
}

.dataTables_wrapper .dataTables_length {
  margin-top: .755em;
}

.panel.panel-primary, .panel.panel-primary .panel-heading {
    border-color: #335075;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
}
