/* webform */
.webform-submission-form {
  margin-top: 10px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
}

@media all and (min-width: 500px){
  div.rateit.svg{
    transform: translateY(6px);
  }
}

label[for="edit-rating"]{
  margin-top: 0 !important;
}

/* rating */
div.svg div.rateit-range {
  background: url(https://open.canada.ca/profiles/og/modules/custom/voting_webform/images/rating/mapleleaf-normal.svg) !important;
}

div.svg div.rateit-hover {
  cursor: pointer;
  background: url(https://open.canada.ca/profiles/og/modules/custom/voting_webform/images/rating/mapleleaf-hover.svg) !important;
}

div.svg div.rateit-selected {
  background: url(https://open.canada.ca/profiles/og/modules/custom/voting_webform/images/rating/mapleleaf-selected.svg) !important;
}

div.svg div.rateit-preset {
  background: url(https://open.canada.ca/profiles/og/modules/custom/voting_webform/images/rating/mapleleaf-preset.svg) !important;
}
